.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.resource-text{
    flex-grow: 1;
    color: #C9B7A2;
}
.resource-list {
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 50px;
}

.resource-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    gap: 10px;
}

.resource-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.resource-item span {
    font-size: 18px;
    flex-grow: 1;
}

.button {
    background-color: #F25c05;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #b24318;
}

@media (max-width: 1440px){
    .page-title-large{
        display: none;
    }
}
@media (max-width: 600px) {
    .resource-list{
        padding: 0 20px 0 25px;
    }

    .resource-item img{
        width: 30px;
        height: 30px;
    }

    .resource-item span{
        font-size: 15px;
    }

    .resource-item a{
        font-size: 10px;
    }

    .button{
        padding: 5px 5px;
    }

}