/* Стили для общего контейнера */
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Пять равных колонок */
    gap: 15px; /* Пространство между элементами */
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    padding: 20px;
    height: 100vh;
	margin-left: 50px;
}

/* Стили для круглых гиперссылок */
.circle-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black; /* Цвет текста (можно изменить) */
    transition: transform 0.3s ease;
}

.circle-link img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circle-link span {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Анимация при наведении */
.circle-link:hover {
    transform: scale(1.1);
}

/* Позиционирование элементов */
.circle-link:nth-child(1) { /* Первый элемент */
    grid-column: 2 / span 1; /* Занимает первую колонку */
}
.circle-link:nth-child(2) { /* Второй элемент */
    grid-column: 4 / span 1; /* Занимает третью колонку */
}
.circle-link:nth-child(3) { /* Третий элемент */
    grid-column: 2 / span 1; /* Занимает пятую колонку */
}
.circle-link:nth-child(4) { /* Четвертый элемент */
    grid-column: 4 / span 1; /* Занимает вторую колонку */
}
