<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main_page</title>
	<link rel="stylesheet" href="templates.css">
	<link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
		<div class="hamburger-menu">
			<input id="menu__toggle" type="checkbox" />
			<label class="menu__btn" for="menu__toggle">
				<span></span>
			</label>
			<h2 class="page-title">Главная</h2>
			<ul class="menu__box">
			<h2 class="menu_title">Меню</h2>
			<hr>
				<li><a class="menu__item" id="menu_item" href="../main_page/main_page.html"><div class="main_page_menu_img"></div><p>Главная</p></a></li>
				<li><a class="menu__item" id="menu_item" href="../directory/directory.html"><div class="directory_menu_img"></div><p>Справочник</p></a></li>
				<li><a class="menu__item" id="menu_item" href="templates.html"><div class="templates_menu_img"></div><p>Шаблоны документов</p></a></li>
				<li><a class="menu__item" id="menu_item" href="../helpfull_resources/helpfull_resources.html"><div class="helpfull_resoucres_menu_img"></div><p>Полезные ресурсы</p></a></li>
			</ul>
		</div>
	</header>
	<main>
		<h1 class="page-title-large">ШАБЛОНЫ ДОКУМЕНТОВ</h1>
		<p class="page-text">В данном разделе Вы найдете необходимые шаблоны документов, которые мы подобрали специально для Вас!</p>
			<div class="page-title-small">Приобретение автомобиля</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Административное исковое заявление о признании незаконным отказа в регистрации машины</strong></p>
				<div class="links">
					<a href="documents/buy_car/adm_isc/adm_isc.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/buy_car/adm_isc/adm_isc.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/buy_car/adm_isc/adm_isc_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Расписка в получении денежных средств</strong></p>
				<div class="links">
					<a href="documents/buy_car/rasp/rasp.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/buy_car/rasp/rasp.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/buy_car/rasp/rasp_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Форма договора купли-продажи автомобиля между физическими лицами (с актом приема-передачи)</strong></p>
				<div class="links">
					<a href="documents/buy_car/buy-sell-fiz/buy-sell-fizz.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/buy_car/buy-sell-fiz/buy-sell-fizz.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/buy_car/buy-sell-fiz/buy-sell-fizz_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Форма договора аренды ТС без экипажа</strong></p>
				<div class="links">
					<a href="documents/buy_car/arenda-bez/arenda_bez.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/buy_car/arenda-bez/arenda_bez.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/buy_car/arenda-bez/arenda_bez_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Форма договора аренды ТС с экипажем</strong></p>
				<div class="links">
					<a href="documents/buy_car/arenda-s/arenda-s.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/buy_car/arenda-s/arenda-s.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/buy_car/arenda-s/arenda-s_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Форма договора купли-продажи автомобиля с рассрочкой платежа</strong></p>
				<div class="links">
					<a href="documents/buy_car/rassrochka/rassrochka.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/buy_car/rassrochka/rassrochka.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/buy_car/rassrochka/rassrochka_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
			<div class="line"></div>
			<div class="page-title-small">Продажа автомобиля</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Образец заполнения декларации 3-НДФЛ</strong></p>
				<div class="links">
					<a href="documents/sell_car/3-ndfl/3-ndfl.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/sell_car/3-ndfl/3-ndfl.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/sell_car/3-ndfl/3-ndfl_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
			<div class="line"></div>
			<div class="page-title-small">Нарушение ПДД</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Жалоба на постановление по делу об административном правонарушении за нарушение ПДД</strong></p>
				<div class="links">
					<a href="documents/pdd/zhaloba_pdd/zhaloba_pdd.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/pdd/zhaloba_pdd/zhaloba_pdd.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/pdd/zhaloba_pdd/zhaloba_pdd_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Жалоба на постановление по делу об административном правонарушении, вынесенное должностным лицом</strong></p>
				<div class="links">
					<a href="documents/pdd/zhaloba_dolzh/zhaloba_dolzh.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/pdd/zhaloba_dolzh/zhaloba_dolzh.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/pdd/zhaloba_dolzh/zhaloba_dolzh_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Жалоба на неправомерные действия сотрудников полиции при задержании автомобиля</strong></p>
				<div class="links">
					<a href="documents/pdd/zhaloba_nepravom/zhaloba_nepravom.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/pdd/zhaloba_nepravom/zhaloba_nepravom.doc" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/pdd/zhaloba_nepravom/zhaloba_nepravom_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Европротокол</strong></p>
				<div class="links">
					<a href="documents/pdd/euro/euro.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/pdd/euro/euro.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/pdd/euro/euro_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
			<div class="line"></div>
			<div class="page-title-small">Страхование</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Исковое заявление в Арбитражный суд о возмещении страховщиком ущерба, причиненного имуществу потерпевшего в результате ДТП</strong></p>
				<div class="links">
					<a href="documents/ins/isc_arb/isc_arb.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/ins/isc_arb/isc_arb.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/ins/isc_arb/isc_arb_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Исковое заявление о взыскании страхового возмещения по ОСАГО</strong></p>
				<div class="links">
					<a href="documents/ins/isc_osago/isc_osago.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/ins/isc_osago/isc_osago.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/ins/isc_osago/isc_osago_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>	
			<div class="document">
				<p class="page-text-tempaltes"><strong>Заявление в страховую компанию о выплате страхового возмещения по полису КАСКО</strong></p>
				<div class="links">
					<a href="documents/ins/zayav_kasko/zayav_kasko.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/ins/zayav_kasko/zayav_kasko.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/ins/zayav_kasko/zayav_kasko_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Заявление в страховую компанию о невыплате страхового возмещения</strong></p>
				<div class="links">
					<a href="documents/ins/zayav_neviplata/zayav_neviplata.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/ins/zayav_neviplata/zayav_neviplata.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/ins/zayav_neviplata/zayav_neviplata_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
			<div class="line"></div>
			<div class="page-title-small">Право управления транспортным средством</div>
			<div class="document">
				<p class="page-text-tempaltes"><strong>Форма доверенности на право управления ТС</strong></p>
				<div class="links">
					<a href="documents/pravo_upr/doverennost/doverennost.pdf" class="download-link" download="">Скачать шаблон: .Pdf</a>
					<a href="documents/pravo_upr/doverennost/doverennost.docx" class="download-link">Скачать шаблон: .Word</a>
					<a href="documents/pravo_upr/doverennost/doverennost_o.pdf" class="download-link" download="">Скачать образец</a>
				</div>
			</div>
	</main>
</body>
</html>